
#### Global Settings

# specify just 'o' to trace all trips originating in that zone,
# just 'd' to trace all trips ending on that zone, or both to trace
# the single trip starting in 'o' and ending in 'd'
trace_od:
  o: 3
  d: 32

models:
  - destination_choice
  - balance_trips
  - write_data_dictionary
  - write_tables

output_tables:
  action: include
  prefix: final_
  tables:
    - od_table
    - zone_summary
    - trips
